<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content" class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center text-uppercase h4 font-weight-light">
                    Add new Restaurant
                </div>
                <div class="card-body">
                    <form class="mx-3 my-3" action="#" th:action="@{/addrestaurant}" th:object="${restaurant}" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="latitude">Latitude</label>
                                <input type="text" class="form-control" id="latitude" placeholder="Latitude" th:field="*{latitude}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="longitude">Longitude</label>
                                <input type="text" class="form-control" id="longitude" placeholder="Longitude" th:field="*{longitude}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Telephone</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Telephone" th:field="*{telephone}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Opening Hours</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Opening Hours" th:field="*{openingHours}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Street</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" th:field="*{street}">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity" th:field="*{city}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Post Code</label>
                                <input type="text" class="form-control" id="inputZip" th:field="*{postCode}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCountry">Country</label>
                                <input type="text" class="form-control" id="inputCountry" th:field="*{country}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Category</label>
                                <input type="text" class="form-control" id="inpu" placeholder="Telephone" th:field="*{category}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">Rating</label>
                                <input type="text" class="form-control" id="inpuPasswo" placeholder="Opening Hours" th:field="*{rating}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputPassword4">Active</label>
                                <select id="inputStte" class="form-control" th:field="*{active}">
                                    <option selected value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="validityDate">Validaty date</label>
                                <input type="text" class="form-control" id="validityDate" placeholder="validity Date" th:field="*{validityDate}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Restaurant</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>