<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">


    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Address</th>
                    <th scope="col">Opening Hours</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="restaurant : ${restaurantList}">
                    <td th:text="${restaurant.name}"></td>
                    <td th:text="${restaurant.latitude}"></td>
                    <td th:text="${restaurant.longitude}"></td>
                    <td th:text="${restaurant.street}+ ' ' +${restaurant.postCode}+ ' ' +${restaurant.city}"></td>
                    <td th:text="${restaurant.openingHours}"></td>
                    <td>
                        <a href="/notesEdit/1" th:href="@{/notesEdit/__${restaurant.id}__}">Edit</a>
                        <a href="/notesDelete/1" th:href="@{/notesDelete/__${restaurant.id}__}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>