<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head th:replace="fragments/header :: header">
    <title>Header</title>
</head>

<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <div class="page-header">
        <div th:replace="fragments/navigation :: navigation"></div>
    </div>

    <div class="main-container">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div layout:fragment="content"></div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>