<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
</head>

<body>

<footer class="bg-dark text-white mt-4" th:fragment="footer">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5>A RESTful json server!</h5></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">Better way to find your launch today     <span class="small">developer: ismail fakir<br></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2018 Cloudcentrik Systems</div>
        </div>
    </div>
</footer>

</body>

</html>